body {
    background-color: #110e0e;
    color: white;
    margin: 0;
    overflow-x: hidden; /* Oculta solo el scroll horizontal */
    max-width: 100%;
}

.navbar {
    background-color: #110e0e;
    padding: 15px 0;
}

#title {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f40000;
}

.nav-item.dropdown .nav-link {
    color: white;
    font-size: 1.2rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.nav-item.dropdown .nav-link:hover {
    color: #f40000;
}

.dropdown-menu {
    background-color: #110e0e;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.dropdown-item:hover {
    color: #f40000;
    background-color: transparent;
}


.row {
    display: flex;
    min-height: 100vh; /* Ajusta la altura para ocupar toda la pantalla */
}

.col-md-4 {
    width: 30%; /* Reduce el ancho de la primera columna */
    height: 90vh; /* Reduce ligeramente la altura */
}

.profile-card {
    margin: 20px; /* Agrega margen alrededor del contenido */
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 80vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.719);
}

.profile-card img {
    margin: 10px auto; /* Centra y reduce el espacio de la imagen */
    width: 25vw; /* Reduce el tamaño de la imagen */
}

.profile-card h2 {
    margin: 10px 0; /* Reduce el espacio alrededor del título */
    font-family: "Outfit", serif;
    font-weight: normal;
    font-size: 28px;
}

.lead, .profile-card p {
    margin: 10px 0; /* Ajusta el margen del texto para reducir el espacio */
    font-family: "Outfit", serif;
    color: #828080;
}

.col-md-8 {
    overflow-y: auto; /* Permite el scroll sin mostrar la barra */
    min-height: 100vh; /* Permite que crezca si el contenido es mayor */
    height: auto;
    scrollbar-width: none; /* Oculta la barra en Firefox */
    -ms-overflow-style: none; /* Oculta la barra en Internet Explorer y Edge */
}

.col-md-8::-webkit-scrollbar {
    display: none; /* Oculta la barra en Chrome, Safari y Opera */
}

.highlight, .fw-bold {
    font-size: 7vw;
    font-family: "Outfit", serif;
    font-weight: bolder;
}

.highlight {
    color: #2c2c2c;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.section {
    margin-bottom: 9rem;
}

.social-links {
    display: flex;
    justify-content: center; /* Centra los íconos */
    gap: 15px; /* Espacio entre los íconos */
}

.social-icon {
    font-size: 2rem; /* Tamaño de los íconos */
    color: #828080; /* Color de los íconos */
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #f40000; /* Cambia el color al pasar el mouse */
}

.formation-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 20px 0;
}

.formation-list li {
    font-family: "Outfit", serif;
    color: white;
    margin-bottom: 20px; /* Espacio entre los elementos de la lista */
}

.formation-list a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto, en este caso blanco */
    font-size: 1.2rem; /* Tamaño similar al de los años */
}

.formation-list a:hover {
    color: #f40000ad; /* Resalta el enlace al pasar el ratón */
}

.cabecera {
    font-size: 2rem; /* Tamaño más grande para el nombre del grado */
    font-weight: bolder;
}

.subcabecera {
    font-size: 1.5rem; /* Tamaño para la especialización */
    color: #828080;
}

.destacado {
    font-size: 1.2rem; /* Tamaño para el año */
    color: #f40000; /* Resalta el año con otro color */
    margin-top: 5px;
}

.download-btn {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 20rem; /* Aumenta el tamaño del botón */
    height: 10rem;
    background-color: #f62424dd;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    position: relative;
    transition: background 0.3s ease;
}

.download-btn:hover {
    background-color: #e42222;
}

.download-btn .arrow {
    position: absolute;
    bottom: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 3rem;
    transition: transform 0.3s ease;
}


.download-btn:hover .arrow {
    transform: translateX(5px); /* Desplaza la flecha hacia la derecha */
}



@media (max-width: 991px) { /* Cambiar a 991px */
    .col-md-4 {
        min-height: 300px;
    }
    .col-sm-12, .col-md-4 {
        width: 100%; /* Asegura que la columna ocupe todo el ancho */
    }
    .profile-card {
        margin-bottom: 20px;
    }
    .profile-card img {
        width: 60%;
    }
    /* .info {
        margin-top: 180rem,;
    } */
    .d-flex {
        flex-wrap: wrap;
    }
}

@media (min-width: 753px) and (max-width: 991px) {
    .info{
        margin-top: 10rem;
    }
}

@media (min-width: 991px) {
    .col-md-4 {
        position: sticky;
        top: 100px;
        margin-top: 20px;
    }
}
